
section.login {
	width: 50%;
	margin: auto;
}

.login > * {
	text-align: center;
} 

.login h2{
    margin: 5em 0 0.6em 0;
}

.login form {
	text-align: left;
	margin: 30px 0;
	display: flex;
	flex-direction: column;
}

.login input {
	padding: 0.8em;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login label {
	margin: 2em 0 1em 0;
}

.login .submit-btn {
    cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
    font-size: 1rem;
    color: white;
	background-color: #1D6154;
	width: 180px;
    border: 1px solid #1D6154;
	border-radius: 60px ;
	line-height: 19.2px;
	padding: 0.6em 1.5em;
    margin : 2.3em auto 1.75em auto;
}

.login .submit-btn:hover {
    color: #1D6154;
	background-color: white;
}

.forgotten-password {
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: underline;
    color: #3D3D3D;
}

.forgotten-password:hover {
	color: #B1663C;
}

footer nav ul {
	margin: 12em 2em 2em;
}

/* Error messages */
.login-message {
	display: none;
	text-align: center;
	padding: 0.3em 0.8em;
	color: white;
	border-radius: 60px;
}

.error-message {
	background-color: red;
	border: 1px solid red;

}

.success-message {
	background-color:#1D6154;
	border: 1px solid #1D6154;
}