/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
box-sizing: border-box;
}

img {
display: block;
width: 100%;
}

p, h1, h2, h3, h4 {
overflow-wrap: break-word;
}
/** end reset css**/

html {
	scroll-behavior: smooth;
  }

body {
	font-family: 'Work Sans' ;
	font-size: 16px;
}

/***********
   LAYOUT
***********/   

/* editing functions - visible when logged in */

.homepage-edit {
	/*hidden by default - toggle to display: flex to reveal*/
	display: none;
	color: #FFFFFF;
	font-size: 14px;
	background-color: #000000;
	height: 60px;
	justify-content: center;
	align-items: center;
	gap: 21px;
	position: relative; /*for the log out button*/
}

.edit-wrapper {
	/*hidden by default - toggle to display: flex to reveal*/
	display: none;
	align-items: flex-end;
	gap: 9px;
}

button.edit-wrapper {
	/*hidden by default - toggle to display: flex to reveal*/
	display: none;
	align-items: flex-end;
	gap: 9px;
	cursor: pointer;
	border: none;
    background-color: transparent;
	font-family: inherit;
}

.edit-icon {
	height: 15.7px;
	width: 15.7px;
}

.edit-btn,
.logout-btn {
	border: none;
	height: 38px;
	border-radius: 60px;
	font-size: 14px;
	font-family: inherit;
	cursor: pointer;
}

.edit-btn {
	background-color: #FFFFFF;
	width: 216px;
	font-weight: 500;
}

.logout-btn {
	width: 120px;
	color: #FFFFFF;
	background-color: #1D6154;
}
.edit-icon-black {
	height: 14.9px;
	width: 14.9px;
}

.edit-text-black {
	font-size: 14px;
}

/* header */
header, 
main {
	max-width: 1140px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}

/* main */
section {
	margin: 50px 0
}

section:first-of-type {
	/* margin for the edit div under the portrait*/
	margin: 50px 0 15px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2 {
	font-size: 30px;
}

h2,
.filter-btn {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.nav-link {
	color: #000000;
	text-decoration: none;
}

.nav-link:hover {
	color: #B1663C;
}

.introduction {
	display: flex;
	align-items: center;
}

.introduction figure {
	flex: 1
}

.introduction .portrait {
	display: block;
	margin: auto;
	width: 80%;
}

.introduction article {
	flex: 1
}

.introduction h2 {
	margin: 21px 0 21px 0;
}

.introduction p {
	margin-bottom: 0.5em;
	line-height: 19px;
}

.relative-to-projects-wrapper{
	display: flex;
	justify-content: center;
}

.portfolio h2 {
	display: inline-block;
	position: relative;
	text-align: center;
    margin-bottom: 1.7em; /* base h2 30px / 51px = 1.7em */
    margin-top: 4.63em; /* base h2 30px / 139px = 4.63em */
}

.relative-to-projects {
	position: absolute;
    top: 9px;
    left: 215px;
}

.portrait-margin {
	margin-left: 56px;
}


/* Works gallery */
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 3.125em;
}

.gallery img {
	width: 100%;
}

div.gallery figure figcaption {
	margin-top: 10px;
}

/* Contact form */
.contact {
	width: 50%;
	margin: auto;
}

.contact > * {
	text-align: center;
}

.contact h2{
	margin-bottom: 20px;
}

.contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

.contact input {
	padding: 0.8em;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.contact label {
	margin: 2em 0 1em 0;
}

.contact textarea {
	padding: 0.8em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


/* footer */
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}



/* Editing modal */
.editing-modal,
.uploading-modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 25px;
  width: 630px;
  min-height: fit-content;
  max-height: 75vh;
  background-color: #FFFFFF;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px #666;
  overflow-y: scroll;
}

.modal-close {
	margin-left: auto;
	font-size: 1.2em;
	font-weight: 500;
	font-family: Arial, Helvetica, sans-serif;
	background-color: transparent;
	cursor: pointer;
}

.modal-form {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modal-header {
	font-family: 'Work Sans';
	font-size: 26px;
	color:#000000;
	font-weight: 400;
	text-align: center;
	margin-top: 10px;
}

.modal-grid {
	margin: 45px auto 25px auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 30px;
	/* margin-top: 3.125em; */
}

.modal-figure {
	position: relative;
}

/* hides all move icons that are not on the first image */
.modal-figure:not(:first-of-type) .move-icon {
	display: none;
}

.modal-img {
	width: 100%;
	max-width: 80px; /* Je pense que c'est trop petit, mais c'est le design Figma*/
}

.icon-wrapper {
	display: flex;
	gap: 3px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.move-btn,
.bin-btn,
.caption-btn {
	background: transparent;
	border: none;
	cursor: pointer;
}

.caption-btn {
	margin-top: 5px;
}

.move-icon,
.bin-icon {
	width: 17px;
	height: 17px;
}

.modal-hr {
	border: 1px solid #B3B3B3;
    width: 100%;
}

/* Upload modal */
.upload-form {
	width: 420px;
	/* overflow-y: initial; */
}
.edit-btn-wrapper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.modal-back {
	background-color: transparent;
	cursor: pointer;
}

.upload-background {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	width: 100%;
	margin: 36px 0;
	min-height: 170px;
	background-color: #E8F1F7;
	border-radius: 3px;
}

.uploader-no-padding {
	padding: 0;
}
/* style the uploaded image */
.upload-file-output {
	width: 130px;
}

.uploader {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.upload-bg-img {
	width: 60px;
}
/*hides the default upload browser button. We style the label instead*/
.upload-file-input::-webkit-file-upload-button  {
	visibility: hidden;
}
.upload-file-input {
	visibility: hidden;
}

.upload-file-label {
	display: inline-block;
	background-color: #CBD6DC;
	border: none;
	border-radius: 50px;
	margin: 15px auto 7px auto;
	padding: 10px 30px;
	cursor: pointer;
	color: #306685;
	font-weight: 500;
	font-size: 14px;
}

.upload-caption {
	font-size: 10px;
}


.upload-input-field {
	font-family: inherit;
	padding-left: 15px;
	margin: 10px 0 20px 0;
	height: 50px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.upload-hr {
	border: 1px solid #B3B3B3;
    width: 100%;
	margin-top: 20px;
}

select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/icons/down-select.png) right 10px center no-repeat;
} 
/***********
  BUTTONS 
**********/ 

/* Filter buttons */
menu.btn-wrapper {
	display: flex;
	gap: 0.625em;
	justify-content: center;
	list-style-type: none; /* menu acts as <ul> */
}

.filter-btn {
	cursor: pointer;
	font-size: 1rem;
	color: #1D6154;
	background-color: transparent;
	line-height: 19.2px;
	min-width: 100px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 0.6em 1.5em;
}

.filter-btn:hover {
	color: #FFFFFF;
	background-color: #1D6154;
}

.submit-btn {
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
    font-size: 14px;
    color: white;
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px ;
	line-height: 19.2px;
	padding: 0.6em 1.5em;
}

.add-photo-btn {
	width: 240px;
    margin : 2.3em auto 1.75em auto;
}


.contact-btn {
    font-size: 1rem;
	width: 180px;
    margin : 2.3em auto 1.75em auto;
}

.submit-btn:hover {
    color: #1D6154;
	background-color: white;
}

.delete-gallery-btn {
	appearance: none;
	width: fit-content;
    margin: 0 auto;
	background-color: transparent;
	border: none;
	color: #D65353;
	font-family: 'Syne';
	font-size: 14px;
	cursor: pointer;
}

.delete-gallery-btn:disabled:hover {
	cursor: not-allowed;
}

/***********
  UTILITY 
**********/ 

.right {
	position: absolute;
	right: 20px
}

/***********
ADDED FEATUREs - NOT ON FIGMA SPECS
**********/ 

.filter-btn:focus {
	color: #FFFFFF;
	background-color: #B1663C;
	border: 1px solid #B1663C;
}


@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.gallery > figure,
.modal-grid > figure {
	animation: fadeIn ease-in;
	animation-duration: 1s;
}


.delete-message {
	position: fixed;
    top: 3em;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
	text-align: center;
	padding: 0.5em 1em;
	color: white;
	border-radius: 60px;
	background-color:#1D6154;
	border: 1px solid #1D6154;
	margin-bottom: 20px;
}

/*Animation style*/
.elementToFadeInAndOut {
    animation: fadeInOut 4s linear forwards;
}

@keyframes fadeInOut {
    0% { opacity:0; }
    25% { opacity:1; } 
    75% { opacity:1; } 
    100% { opacity:0; } 
}