/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
box-sizing: border-box;
}

img {
display: block;
width: 100%;
}


p, h1, h2, h3, h4 {
overflow-wrap: break-word;
}
/** end reset css**/

html {
	scroll-behavior: smooth;
  }

body {
	font-family: 'Work Sans' ;
	font-size: 16px;
}

.homepage-edit {
	/*hidden by default - toggle to display: flex to reveal*/
	display: none;
	background-color: #000000;
	height: 60px;
	justify-content: center;
	align-items: center;
	gap: 21px;
}

.edit-wrapper {
	/*hidden by default - toggle to display: flex to reveal*/
	display: none;
	gap: 9px;
	cursor: pointer;
	border: none;
    background-color: transparent;
	font-family: inherit;
}

.portrait-margin {
	margin: auto;
    width: 90%;
}

.edit-icon {
	height: 15.7px;
	width: 15.7px;
}

.edit-text {
	color: #FFFFFF;
	font-size: 14px;
}

.edit-btn {
	width: 216px;
	height: 38px;
	background-color: #FFFFFF;
	border-radius: 60px;
	font-size: 14px;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
}

.edit-icon-black {
	height: 14.9px;
	width: 14.9px;
}

.edit-text-black {
	font-size: 14px;
}

header, 
main {
	max-width: 1140px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}

section {
	margin: 50px 0
}

section:first-of-type {
	/* margin for the edit div under the portrait*/
	margin: 50px 0 15px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;

}

h2 {
	font-size: 30px;
}

h2,
.filter-btn {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

.nav-link {
	color: #000000;
	text-decoration: none;
}

.nav-link:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction .portrait {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin: 21px 0 21px 0;
}

#introduction p {
	margin-bottom: 0.5em;
	line-height: 19px;
}

#portfolio h2 {
	text-align: center;
    margin-bottom: 1.7em; /* base h2 30px / 51px = 1.7em */
    margin-top: 4.63em; /* base h2 30px / 139px = 4.63em */
	position: relative;
}

/*currently doesn't scale with viewport*/
.relative-to-projects {
	position: absolute;
    top: 722px;
    left: 879px;
}

menu.btn-wrapper {
	display: flex;
	gap: 0.625em;
	justify-content: center;
	list-style-type: none; /* menu acts as <ul> */
}

.filter-btn {
	cursor: pointer;
	font-size: 1rem;
	color: #1D6154;
	background-color: transparent;
	line-height: 19.2px;
	min-width: 100px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 0.6em 1.5em;
}

.filter-btn:hover {
	color: #FFFFFF;
	background-color: #1D6154;
}

/*ADDED FEATURE - NOT ON FIGMA SPECS*/
.filter-btn:focus {
	color: #FFFFFF;
	background-color: #B1663C;
	border: 1px solid #B1663C;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	margin-top: 3.125em;

}

.gallery img {
	width: 100%;
}

div.gallery figure figcaption {
	margin-top: 10px;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.gallery > figure {
	animation: fadeIn ease-in;
	animation-duration: 1s;
}


#contact {
	width: 50%;
	margin: auto;
}

#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	padding: 0.8em;
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	padding: 0.8em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact .submit-btn {
    cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
    font-size: 1rem;
    color: white;
	background-color: #1D6154;
	width: 180px;
    border: 1px solid #1D6154;
	border-radius: 60px ;
	line-height: 19.2px;
	padding: 0.6em 1.5em;
    margin : 2.3em auto 1.75em auto;
}

#contact .submit-btn:hover {
    color: #1D6154;
	background-color: white;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

